<head>
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0"/>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-nav-buttons></app-nav-buttons>
        </div>

        <div class="min-h-screen flex flex-col gap-4 p-4">
            <!-- Top full-width section -->
            <div class="bg-purple-200 p-6 rounded-lg shadow text-center">
                <h1 class="text-5xl md:text-4xl font-bold text-red-800" style="font-family: 'Bitter', serif;">
                    My Interests
                </h1>
                <h2 class="text-lg md:text-xl text-gray-700 mt-2" style="font-family: 'Bitter', serif;">
                    Feel free to view and download!
                </h2>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex-1 bg-purple-200 p-4 rounded-lg shadow flex flex-col items-center">
                    <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-left"
                        style="font-family: 'Bitter', serif;">
                        Career Interests
                    </h2>

                    <div class="mt-6 w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Product Development</strong><br>
                            I am passionate about creating foods that are healty, accessable, and tasty! A career in product development allows me to utilize all my knowledge on food science, nutrition, and buisness! 
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Sensory</strong><br>
                            I have spent three years of undergrad as an active member of the Mayhew Sensory lab where I have gained hands on experience with the scientific method and anylitical sensory devices. Here, I found my passion for science, chemistry, and consumer behaviors. I find it fascinating how different people can experience identical stimuli differently. I would love to keep learning in this field! 
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Process Engineering</strong><br>
                            As this website may clue to, I have a stong interest and background in food chemistry and sensory science. However, during my time at my two internsips, I had the opportunity to work with different process engineers at the R&D pilot plant scale to the manufacuring scale. I am always looking for new ways to challenge myself weather that be with Division 1, Big10 athletics or coding a website! Process engineering is an area I have lots of room to grow in.
                        </h2>
                    </div>
                </div>

                <div class="flex-1 bg-purple-200 p-4 rounded-lg shadow flex flex-col items-center">
                    <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-center w-full"
                        style="font-family: 'Bitter', serif;">
                        Research Interests
                    </h2>

                    <div class="mt-6 w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 1</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 2</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 3</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>
                </div>
            </div>

            <div class="bg-purple-200 p-6 rounded-lg shadow text-center">
                <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-center w-full"
                    style="font-family: 'Bitter', serif;">
                    As a young professional, I am open and excited to explore all opportunities and pathways!

                </h2>
                <h2 class="text-lg md:text-xl text-gray-700 mt-2" style="font-family: 'Bitter', serif;">
                    
                </h2>
            </div>
        </div>

    </div>
</div>
