<head>
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0"/>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-nav-buttons></app-nav-buttons>
        </div>

        <div class="min-h-screen flex flex-col gap-4 p-4">
            <!-- Top full-width section -->
            <div class="bg-purple-200 p-6 rounded-lg shadow text-center">
                <h1 class="text-5xl md:text-4xl font-bold text-red-800" style="font-family: 'Bitter', serif;">
                    My Interests
                </h1>
                <h2 class="text-lg md:text-xl text-gray-700 mt-2" style="font-family: 'Bitter', serif;">
                    Feel free to view and download!
                </h2>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex-1 bg-purple-200 p-4 rounded-lg shadow flex flex-col items-center">
                    <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-left"
                        style="font-family: 'Bitter', serif;">
                        Career Interests
                    </h2>

                    <div class="mt-6 w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Product Development</strong><br>
                            I am passionate about creating foods that are healty, accessable, and tasty! I am excited to apply all areas of my degree to my career. Product development allows me to utilize all my knowledge on food science, nutrition, and buisness! 
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Sensory</strong><br>
                            I 
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Process Engineering</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>
                </div>

                <div class="flex-1 bg-purple-200 p-4 rounded-lg shadow flex flex-col items-center">
                    <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-center w-full"
                        style="font-family: 'Bitter', serif;">
                        Research Interests
                    </h2>

                    <div class="mt-6 w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 1</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 2</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>

                    <hr class="border-t-2 border-[#980054] my-6 w-full rounded-full">

                    <div class="w-full">
                        <h2 class="text-lg md:text-xl text-gray-700 text-left" style="font-family: 'Bitter', serif;">
                            <strong style="font-size: 22px; color: rgb(228, 0, 125)">Research Interest 3</strong><br>
                            A blurb about this interest
                        </h2>
                    </div>
                </div>
            </div>

            <div class="bg-purple-200 p-6 rounded-lg shadow text-center">
                <h2 class="text-2xl md:text-3xl font-bold text-red-900 text-center w-full"
                    style="font-family: 'Bitter', serif;">
                    A box summarizing / saying she's open to all sorts of things and not exclusively these interests
                </h2>
                <h2 class="text-lg md:text-xl text-gray-700 mt-2" style="font-family: 'Bitter', serif;">
                    Sarah writes a little blurb about her interests.
                </h2>
            </div>
        </div>

    </div>
</div>
