<head>
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0"/>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-nav-buttons></app-nav-buttons>
        </div>

        <div class="min-h-screen flex flex-col gap-4 p-4">
            <!-- Top full-width section -->
            <div class="bg-purple-200 p-6 rounded-lg shadow text-center">
                <h1 class="text-5xl md:text-4xl font-bold text-red-800" style="font-family: 'Bitter', serif;">
                    My Projects
                </h1>
                <h2 class="text-lg md:text-xl text-gray-700 mt-2" style="font-family: 'Bitter', serif;">
                    Some current and past projects that I have worked on in the Sensory Lab, more details can be found on my resume and CV! 
                </h2>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-2">
                <div class="bg-white rounded-lg shadow p-4 projects">
                    <h3 class="text-xl font-semibold text-red-800 mb-2">Volitlile Characterization with GCMS and SPME</h3>
                    <p class="text-gray-700 text-sm">
                        In 2024, I presented on GM-MS and SMPE characterization of 18 volatile compounds of treated and untreated pulse flours of white kidney, cranberry, and chickpea cultivars. I continued to be a part of this project through 2025. This project allowed me to get comfortable using anylitical equimpent.
                    </p>
                </div>

                <div class="bg-white rounded-lg shadow p-4 projects">
                    <h3 class="text-xl font-semibold text-red-800 mb-2">Consumer and Non-Comsumer Pulse Products Focus Group</h3>
                    <p class="text-gray-700 text-sm">
                        In 2025, I presented data collected from a focus group I assisted with on consumer preferences and perceptions of pulse based products on the market to better understand the hurdles that product developers face today. I was able to better understand different methods of consumer data collection.
                    </p>
                </div>

                <div class="bg-white rounded-lg shadow p-4 projects">
                    <h3 class="text-xl font-semibold text-red-800 mb-2">Industry and Departemetal Collaborations</h3>
                    <p class="text-gray-700 text-sm">
                        I have also helped on a handful of industry projects and department collaborations including a consumer study on fermented corn pancakes done in partnership with the horticulture department!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
